{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
<div class="content__CtrlPagos">
  <h3 class="title">Control de pagos</h3>
  <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalNvoPago">Nuevo</button>
  <div class="modal-pago">
    <div class="modal" id="modalNvoPago" aria-hidden="true" aria-labelledby="modalNvoPagoLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalNvoPagoLabel">Añadir nuevo <strong>Equipo</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3"> 
                  <label for="tipo">Tipo de contrato:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="mensual">Mensual</option>
                    <option value="semestral">Semestral </option>
                    <option value="anual">Anual </option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre del servicio" type="text" name="nom_servicio" required="required"/>
                  <label class="form-label" for="nom_servicio">Nombre del servicio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia del servicio" type="date" name="vig_servicio" maxlength="10" required="required"/>
                  <label class="form-label" for="vig_servicio">Vigencia del servicio  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                  <label class="form-label" for="descripcion">Descripcion   </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Total a pagar" type="text" name="total" maxlength="15"/>
                  <label class="form-label" for="total">Total a pagar</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Staff" type="text" name="staff" maxlength="15" required="required"/>
                  <label class="form-label" for="staff">Staff</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="file" name="pdf"/>
                  <label class="form-label" for="pdf">PDF</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="file" name="xml"/>
                  <label class="form-label" for="xml">XML</label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalPago" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalPago" aria-hidden="true" aria-labelledby="modalPago" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalPago">Nuevo Pago </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Pago agregado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalPago" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-pago">
    <div class="modal" id="modalModificarPago" aria-hidden="true" aria-labelledby="modalModificarPagoLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalModificarPagoLabel">Modificar <strong>Pago</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3"> 
                  <label for="tipo">Tipo de contrato:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="mensual">Mensual</option>
                    <option value="semestral">Semestral </option>
                    <option value="anual">Anual </option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre del servicio" type="text" name="nom_servicio" required="required" readonly="readonly"/>
                  <label class="form-label" for="nom_servicio">Nombre del servicio</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia del servicio" type="date" name="vig_servicio" maxlength="10" required="required" readonly="readonly"/>
                  <label class="form-label" for="vig_servicio">Vigencia del servicio  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required" readonly="readonly"/>
                  <label class="form-label" for="descripcion">Descripcion   </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Total a pagar" type="text" name="total" maxlength="15" readonly="readonly"/>
                  <label class="form-label" for="total">Total a pagar</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Staff" type="text" name="staff" maxlength="15" required="required" readonly="readonly"/>
                  <label class="form-label" for="staff">Staff</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="file" name="pdf" readonly="readonly"/>
                  <label class="form-label" for="pdf">PDF</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" type="file" name="xml" readonly="readonly"/>
                  <label class="form-label" for="xml">XML</label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalModificar" aria-hidden="true" aria-labelledby="modalModificar" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalModificar">Modificar Pago </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Pago guardado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content__CtrlPagos__tabs">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
        <div class="content__CtrlPagos__tabs__item">                           
          <div class="content__CtrlPagos__tabs__item__body">
            <div class="table-wrapper content__CtrlPagos__tabs__item__body__table">
              <table class="display" id="myTable" cellspacing="0" width="100%">
                <thead> 
                  <tr>                 
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Servicio</th>
                    <th>Detalles</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr> 
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                      <button class="btn btn-link newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalDetallePago">ver mas ...</button>
                      <div class="modal-pago">
                        <div class="modal" id="modalDetallePago" aria-hidden="true" aria-labelledby="modalDetallePagoLabel" tabindex="-1">
                          <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2 class="modal-title" id="modalDetallePagoLabel">Detalle <strong>Pago</strong></h2>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="content-form">
                                  <form action="">
                                    <div class="form-floating mb-3"> 
                                      <label for="tipo">Tipo de contrato:</label>
                                      <select class="form-select" id="opcionesSelect">
                                        <option value="no"> </option>
                                        <option value="mensual">Mensual</option>
                                        <option value="semestral">Semestral </option>
                                        <option value="anual">Anual </option>
                                      </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Nombre del servicio" type="text" name="nom_servicio" required="required"/>
                                      <label class="form-label" for="nom_servicio">Nombre del servicio</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Vigencia del servicio" type="date" name="vig_servicio" maxlength="10" required="required"/>
                                      <label class="form-label" for="vig_servicio">Vigencia del servicio  </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                                      <label class="form-label" for="descripcion">Descripcion   </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Total a pagar" type="text" name="total" maxlength="15"/>
                                      <label class="form-label" for="total">Total a pagar</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Staff" type="text" name="staff" maxlength="15" required="required"/>
                                      <label class="form-label" for="staff">Staff</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" type="file" name="pdf"/>
                                      <label class="form-label" for="pdf">PDF</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" type="file" name="xml"/>
                                      <label class="form-label" for="xml">XML</label>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-body__buttons"> 
                                  <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                  <button class="btn btn-warning" data-bs-target="#modalmodPago" data-bs-toggle="modal" data-bs-dismiss="modal">Modificar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="modalmodPago" aria-hidden="true" aria-labelledby="modalmodPago" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title" id="modalmodPago">Modificar Pago </h3>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">Pago Modificado!</div>
                              <div class="modal-footer">
                                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td><a class="edit" href=" #modalModificarPago" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-exit" onclick="paginaInicio()" id="salir">Salir</button>
</div>
<script src="{% static '../js/inicio.js' %}"></script>
<script>
  $(document).ready( function () {
  $('#myTable').DataTable();
  } );
</script>
{% endblock %}