{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
<div class="container__controlstaff">
  <div class="container__controlstaff__administrador">
    <div class="container__controlstaff__administrador-wrapper">
      <div class="modal-staff">
        <div class="modal" id="modalModificarStaff" aria-hidden="true" aria-labelledby="modalModificarStaffLabel" tabindex="-1">
          <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="modalModificarStaffLabel">Modificar <strong>Staff</strong></h2>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="content-form">
                  <form action="">
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Nombre del staff" type="text" name="nom_staff" maxleng="80" required="required"/>
                      <label class="form-label" for="nom_servicio">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Correo electronico" type="text" name="correo" required="required"/>
                      <label class="form-label" for="correo">Correo electronico</label>
                    </div>
                    <div class="form-floating mb-3"> 
                      <label for="tipo">Departamento:</label>
                      <select class="form-select" id="opcionesSelect">
                        <option value="no"> </option>
                        <option value="uno">Uno</option>
                        <option value="dos">Dos   </option>
                      </select>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Contraseña" type="text" name="Contraseña" maxlength="12" required="required"/>
                      <label class="form-label" for="password">Contraseña </label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder=" Confirmar Contraseña" type="text" name="conf_contrasena" maxlength="12" required="required"/>
                      <label class="form-label" for="password_confirm">Confirmar contraseña </label>
                    </div>
                  </form>
                </div>
                <div class="modal-body__buttons"> 
                  <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                  <button class="btn btn-success" data-bs-target="#modalModificarStaffDos" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalModificarStaffDos" aria-hidden="true" aria-labelledby="modalModificarStaffDos" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="modalModificarStaffDos">Modificar Staff </h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">Staff modificado!</div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container__controlstaff__administrador__title">
        <h1>Control de ajustes</h1>
        <div class="container__controlstaff__administrador__title__box"><a href="control-ajuste.html">Servicios<img class="staff" src="/Images/Icons/servicio.svg" alt="ajustes de servicio"/></a></div>
        <div class="container__controlstaff__administrador__title__box"><a href="control-staff.html">Staff<img class="staff" src="/Images/Icons/staff.svg" alt="ajustes de staff"/></a></div>
      </div>
      <div class="container__controlstaff__administrador__title">
        <h2>Control de staff</h2>
      </div>
      <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalNvoStaff">Nuevo</button>
      <div class="modal-staff">
        <div class="modal" id="modalNvoStaff" aria-hidden="true" aria-labelledby="modalNvoStaffLabel" tabindex="-1">
          <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="modalNvoStaffLabel">Añadir nuevo <strong>Staff</strong></h2>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="content-form">
                  <form action="">
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Nombre del staff" type="text" name="nom_staff" maxleng="80" required="required"/>
                      <label class="form-label" for="nom_servicio">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Correo electronico" type="text" name="correo" required="required"/>
                      <label class="form-label" for="correo">Correo electronico</label>
                    </div>
                    <div class="form-floating mb-3"> 
                      <label for="tipo">Departamento:</label>
                      <select class="form-select" id="opcionesSelect">
                        <option value="no"> </option>
                        <option value="uno">Uno</option>
                        <option value="dos">Dos   </option>
                      </select>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Contraseña" type="text" name="Contraseña" maxlength="12" required="required"/>
                      <label class="form-label" for="password">Contraseña </label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder=" Confirmar Contraseña" type="text" name="conf_contrasena" maxlength="12" required="required"/>
                      <label class="form-label" for="password_confirm">Confirmar contraseña </label>
                    </div>
                  </form>
                </div>
                <div class="modal-body__buttons"> 
                  <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                  <button class="btn btn-success" data-bs-target="#modalNvoStaffDos" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalNvoStaffDos" aria-hidden="true" aria-labelledby="modalNvoStaffDos" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="modalNvoStaffDos">Nuevo Staff </h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">Staff agregado!</div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container__controlstaff__administrador__table">
        <table class="display" id="myTable" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Detalles</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td>
                <button class="btn btn-link newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalDetalleStaff">ver mas ...</button>
                <div class="modal-staff">
                  <div class="modal" id="modalDetalleStaff" aria-hidden="true" aria-labelledby="modalDetalleStaffLabel" tabindex="-1">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="modal-title" id="modalDetalleStaffLabel">Detalle <strong>Staff</strong></h2>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="content-form">
                            <form action="">
                              <div class="form-floating mb-3">
                                <input class="form-control form-control-lg" placeholder="Nombre del staff" type="text" name="nom_staff" maxleng="80" required="required"/>
                                <label class="form-label" for="nom_servicio">Nombre</label>
                              </div>
                              <div class="form-floating mb-3">
                                <input class="form-control form-control-lg" placeholder="Correo electronico" type="text" name="correo" required="required"/>
                                <label class="form-label" for="correo">Correo electronico</label>
                              </div>
                              <div class="form-floating mb-3"> 
                                <label for="tipo">Departamento:</label>
                                <select class="form-select" id="opcionesSelect">
                                  <option value="no"> </option>
                                  <option value="uno">Uno</option>
                                  <option value="dos">Dos   </option>
                                </select>
                              </div>
                              <div class="form-floating mb-3">
                                <input class="form-control form-control-lg" placeholder="Contraseña" type="text" name="Contraseña" maxlength="12" required="required"/>
                                <label class="form-label" for="password">Contraseña </label>
                              </div>
                              <div class="form-floating mb-3">
                                <input class="form-control form-control-lg" placeholder=" Confirmar Contraseña" type="text" name="conf_contrasena" maxlength="12" required="required"/>
                                <label class="form-label" for="password_confirm">Confirmar contraseña </label>
                              </div>
                            </form>
                          </div>
                          <div class="modal-body__buttons"> 
                            <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                            <button class="btn btn-warning" data-bs-target="#modalDetalleStaffDos" data-bs-toggle="modal" data-bs-dismiss="modal">Modificar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="modalDetalleStaffDos" aria-hidden="true" aria-labelledby="modalDetalleStaffDos" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="modalDetalleStaffDos">Modificar Staff </h3>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">Staff modificado!</div>
                        <div class="modal-footer">
                          <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td><a class="edit" href="#modalModificarStaff" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="botonSalir" onclick="regresar()">Regresar</button>
    <script src="../js/regresar.js"></script>
  </div>
</div>
<script>
  $(document).ready( function () {
  $('#myTable').DataTable();
  } );
</script>
{% endblock %}