{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
<div class="ctrlSoporte">
  <h3 class="title">Control tickets generales</h3>
  <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalNvoTicket">Nuevo</button>
  <div class="modal-soporte">
    <div class="modal" id="modalNvoTicket" aria-hidden="true" aria-labelledby="modalNvoTicketLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalNvoTicketLabel">Añadir nuevo <strong>Equipo</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3"> 
                  <label for="tipo">Tipo de equipo:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="ao">All in One </option>
                    <option value="pc">Escritorio </option>
                    <option value="lap">Laptop </option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Marca del equipo" type="text" name="marca" maxlength="50" required="required"/>
                  <label class="form-label" for="marca">Marca</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Memoria RAM" type="text" name="ram" maxlength="10" required="required"/>
                  <label class="form-label" for="ram">RAM  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Procesador" type="text" name="procesador" maxlength="50" required="required"/>
                  <label class="form-label" for="procesador">Procesador   </label>
                </div>
                <div class="form-floating mb-3">
                  <label for="tipo">Tipo de Disco Duro:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="hdd">HDD</option>
                    <option value="ssd">SSD</option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Uso del disco duro" type="text" name="uso" maxlength="15"/>
                  <label class="form-label" for="uso">Uso del disco duro</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="ip local" type="text" name="ip" maxlength="15" required="required"/>
                  <label class="form-label" for="ip">Ip local </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Direccion anydesk" type="text" name="anydesk" maxlength="12" required="required"/>
                  <label class="form-label" for="anydesk">Direccion Anydesk</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre de usuario" type="text" name="nom_usuario" maxlength="50" required="required"/>
                  <label class="form-label" for="nom_usuario">Nombre de  usuario del equipo </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Antivirus" type="text" name="nom_antivirus" maxlength="20" required="required"/>
                  <label class="form-label" for="nom_antivirus">Nombre del antivirus </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia del Antivirus" type="month" name="vig_antivirus" maxlength="20" required="required"/>
                  <label class="form-label" for="vig_antivirus">Vigencia del antivirus</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Paqueteria Office" type="text" name="office" maxlength="30" required="required"/>
                  <label class="form-label" for="office">Paqueteria Office </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia Office" type="month" name="vig_office" maxlength="20" required="required"/>
                  <label class="form-label" for="vig_office">Vigencia de la Paqueteria Office</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600"/>
                  <label class="form-label" for="descripcion">Descripcion</label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalTicket" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalTicket" aria-hidden="true" aria-labelledby="modalTicket" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalTicket">Nuevo Ticket </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Ticket creado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalTicket" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-soporte">
    <div class="modal" id="modalModificarTicket" aria-hidden="true" aria-labelledby="modalDetalleTicketLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalModificarTicketLabel">Modificar <strong>Ticket</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3"> 
                  <label for="tipo">Tipo de equipo:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="ao">All in One </option>
                    <option value="pc">Escritorio </option>
                    <option value="lap">Laptop </option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Marca del equipo" type="text" name="marca" maxlength="50" required="required"/>
                  <label class="form-label" for="marca">Marca</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Memoria RAM" type="text" name="ram" maxlength="10" required="required"/>
                  <label class="form-label" for="ram">RAM  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Procesador" type="text" name="procesador" maxlength="50" required="required"/>
                  <label class="form-label" for="procesador">Procesador   </label>
                </div>
                <div class="form-floating mb-3">
                  <label for="tipo">Tipo de Disco Duro:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="hdd">HDD</option>
                    <option value="ssd">SSD</option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Uso del disco duro" type="text" name="uso" maxlength="15"/>
                  <label class="form-label" for="uso">Uso del disco duro</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="ip local" type="text" name="ip" maxlength="15" required="required"/>
                  <label class="form-label" for="ip">Ip local </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Direccion anydesk" type="text" name="anydesk" maxlength="12" required="required"/>
                  <label class="form-label" for="anydesk">Direccion Anydesk</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Nombre de usuario" type="text" name="nom_usuario" maxlength="50" required="required"/>
                  <label class="form-label" for="nom_usuario">Nombre de  usuario del equipo </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Antivirus" type="text" name="nom_antivirus" maxlength="20" required="required"/>
                  <label class="form-label" for="nom_antivirus">Nombre del antivirus </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia del Antivirus" type="month" name="vig_antivirus" maxlength="20" required="required"/>
                  <label class="form-label" for="vig_antivirus">Vigencia del antivirus</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Paqueteria Office" type="text" name="office" maxlength="30" required="required"/>
                  <label class="form-label" for="office">Paqueteria Office </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia Office" type="month" name="vig_office" maxlength="20" required="required"/>
                  <label class="form-label" for="vig_office">Vigencia de la Paqueteria Office</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600"/>
                  <label class="form-label" for="descripcion">Descripcion</label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalModificar" aria-hidden="true" aria-labelledby="modalModificar" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalModificar">Modificar </h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Ticket modificado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ctrlSoporte__tabs">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
        <div class="ctrlSoporte__tabs__item">                           
          <div class="ctrlSoporte__tabs__item__body">
            <div class="table-wrapper content__ctrlSoporte__tabs__item__body__table">
              <table class="display" id="myTable" cellspacing="0" width="100%">
                <thead> 
                  <tr>                 
                    <th>id</th>
                    <th>Cliente</th>
                    <th>Asunto</th>
                    <th>Status</th>
                    <th>Detalles </th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr> 
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td>
                      <button class="btn btn-link newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalDetalleTicket">Ver mas...</button>
                      <div class="modal-soporte">
                        <div class="modal" id="modalDetalleTicket" aria-hidden="true" aria-labelledby="modalDetalleTicketLabel" tabindex="-1">
                          <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2 class="modal-title" id="modalDetalleTicketLabel">Informacion del <strong>Ticket</strong></h2>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="content-form">
                                  <form action="">
                                    <div class="form-floating mb-3"> 
                                      <label for="tipo">Tipo de equipo:</label>
                                      <select class="form-select" id="opcionesSelect">
                                        <option value="no"> </option>
                                        <option value="ao">All in One </option>
                                        <option value="pc">Escritorio </option>
                                        <option value="lap">Laptop </option>
                                      </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Marca del equipo" type="text" name="marca" maxlength="50" required="required"/>
                                      <label class="form-label" for="marca">Marca</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Memoria RAM" type="text" name="ram" maxlength="10" required="required"/>
                                      <label class="form-label" for="ram">RAM  </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Procesador" type="text" name="procesador" maxlength="50" required="required"/>
                                      <label class="form-label" for="procesador">Procesador   </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <label for="tipo">Tipo de Disco Duro:</label>
                                      <select class="form-select" id="opcionesSelect">
                                        <option value="no"> </option>
                                        <option value="hdd">HDD</option>
                                        <option value="ssd">SSD</option>
                                      </select>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Uso del disco duro" type="text" name="uso" maxlength="15"/>
                                      <label class="form-label" for="uso">Uso del disco duro</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="ip local" type="text" name="ip" maxlength="15" required="required"/>
                                      <label class="form-label" for="ip">Ip local </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Direccion anydesk" type="text" name="anydesk" maxlength="12" required="required"/>
                                      <label class="form-label" for="anydesk">Direccion Anydesk</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Nombre de usuario" type="text" name="nom_usuario" maxlength="50" required="required"/>
                                      <label class="form-label" for="nom_usuario">Nombre de  usuario del equipo </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Antivirus" type="text" name="nom_antivirus" maxlength="20" required="required"/>
                                      <label class="form-label" for="nom_antivirus">Nombre del antivirus </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Vigencia del Antivirus" type="month" name="vig_antivirus" maxlength="20" required="required"/>
                                      <label class="form-label" for="vig_antivirus">Vigencia del antivirus</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Paqueteria Office" type="text" name="office" maxlength="30" required="required"/>
                                      <label class="form-label" for="office">Paqueteria Office </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Vigencia Office" type="month" name="vig_office" maxlength="20" required="required"/>
                                      <label class="form-label" for="vig_office">Vigencia de la Paqueteria Office</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                      <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600"/>
                                      <label class="form-label" for="descripcion">Descripcion</label>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-body__buttons"> 
                                  <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                  <button class="btn btn-warning" data-bs-target="#modalModTick" data-bs-toggle="modal" data-bs-dismiss="modal">Modificar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="modalModTick" aria-hidden="true" aria-labelledby="modalModTick" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title" id="modalDetalleT">Modificar </h3>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">Ticket modificado!</div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td><a class="edit" href="#modalModificarTicket" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-exit" onclick="paginaInicio()" id="salir">Salir</button>
  </div>
</div>
<script src="../js/inicio.js"></script>
<script>
  $(document).ready( function () {
  $('#myTable').DataTable();
  } );
</script>
{% endblock %}