{% extends 'base_admin.html' %}
{% load static %}
{% block content %}

<div class="container__controlajuste"> 
      <div class="modal-servicio">
        <div class="modal" id="modalModificarServicio" aria-hidden="true" aria-labelledby="modalModificarServicioLabel" tabindex="-1">
          <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="modalModificarServicioLabel">Modificar del <strong>Servicio</strong></h2>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="content-form">
                  <form action="">
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Nombre del servicio" type="text" name="nom_servicio" required="required"/>
                      <label class="form-label" for="nom_servicio">Nombre del servicio</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Costo servicio" type="text" name="costo" required="required"/>
                      <label class="form-label" for="costo">Costo del servicio</label>
                    </div>
                    <div class="form-floating mb-3"> 
                      <label for="tipo">Moneda:</label>
                      <select class="form-select" id="opcionesSelect">
                        <option value="no"> </option>
                        <option value="dolar">Dolar</option>
                        <option value="peso_mex">Peso Mexicano </option>
                      </select>
                    </div>
                    <div class="form-floating mb-3"> 
                      <label for="tipo">Plan</label>
                      <select class="form-select" id="opcionesSelect">
                        <option value="no"> </option>
                        <option value="mensual">Mensual</option>
                        <option value="semestral">Semestral </option>
                        <option value="anual">Anual   </option>
                      </select>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                      <label class="form-label" for="descripcion">Descripcion   </label>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control form-control-lg" placeholder="Total a pagar" type="text" name="total" maxlength="15"/>
                      <label class="form-label" for="total">Total a pagar</label>
                    </div>
                  </form>
                </div>
                <div class="modal-body__buttons"> 
                  <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                  <button class="btn btn-warning" data-bs-target="#modalServicioModificado" data-bs-toggle="modal" data-bs-dismiss="modal">Modificar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalServicioModificado" aria-hidden="true" aria-labelledby="modalServicioModificado" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="modalServicioModificado">Modificar Servicio </h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">Servicio modificado!</div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container__controlajuste__administrador">
        <div class="container__controlajuste__administrador-wrapper">
          <div class="container__controlajuste__administrador__title">
            <h1>Control de ajustes</h1>
            <div class="container__controlajuste__administrador__title__box"><a href="control-ajuste.html">Servicios<img class="staff" src="{% static '/Images/Icons/servicio.svg' %}" alt="ajustes de servicio"/></a></div>
            <div class="container__controlajuste__administrador__title__box"><a href="control-staff.html">Staff<img class="staff" src="{% static '/Images/Icons/staff.svg' %}" alt="ajustes de staff"/></a></div>
          </div>
          <div class="container__controlajuste__administrador__title">
            <h2>Control de servicios</h2>
          </div>
          <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalNvoServicio">Nuevo</button>
          <div class="modal-servicio">
            <div class="modal" id="modalNvoServicio" aria-hidden="true" aria-labelledby="modalNvoServicioLabel" tabindex="-1">
              <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="modalNvoServicioLabel">Añadir nuevo <strong>Servicio</strong></h2>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="content-form">
                      <form action="">
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" placeholder="Nombre del servicio" type="text" name="nom_servicio" required="required"/>
                          <label class="form-label" for="nom_servicio">Nombre del servicio</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" placeholder="Costo servicio" type="text" name="costo" required="required"/>
                          <label class="form-label" for="costo">Costo del servicio</label>
                        </div>
                        <div class="form-floating mb-3"> 
                          <label for="tipo">Moneda:</label>
                          <select class="form-select" id="opcionesSelect">
                            <option value="no"> </option>
                            <option value="dolar">Dolar</option>
                            <option value="peso_mex">Peso Mexicano </option>
                          </select>
                        </div>
                        <div class="form-floating mb-3"> 
                          <label for="tipo">Plan</label>
                          <select class="form-select" id="opcionesSelect">
                            <option value="no"> </option>
                            <option value="mensual">Mensual</option>
                            <option value="semestral">Semestral </option>
                            <option value="anual">Anual   </option>
                          </select>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                          <label class="form-label" for="descripcion">Descripcion   </label>
                        </div>
                        <div class="form-floating mb-3">
                          <input class="form-control form-control-lg" placeholder="Total a pagar" type="text" name="total" maxlength="15"/>
                          <label class="form-label" for="total">Total a pagar</label>
                        </div>
                      </form>
                    </div>
                    <div class="modal-body__buttons"> 
                      <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                      <button class="btn btn-success" data-bs-target="#modalServicio" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalServicio" aria-hidden="true" aria-labelledby="modalServicio" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="modalServicio">Nuevo Servicio </h3>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">Servicio agregado!</div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container__controlajuste__administrador__table">
            <table class="display" id="myTable" cellspacing="0" width="100%">                 
              <thead>     
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Costo</th>
                  <th>Detalles</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td>
                    <button class="btn btn-link newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalDetalleServicio">Ver mas ...</button>
                    <div class="modal-servicio">
                      <div class="modal" id="modalDetalleServicio" aria-hidden="true" aria-labelledby="modalDetalleServicioLabel" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2 class="modal-title" id="modalDetalleServicioLabel">Detalle del <strong>Servicio</strong></h2>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="content-form">
                                <form action="">
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Nombre del servicio" type="text" name="nom_servicio" required="required"/>
                                    <label class="form-label" for="nom_servicio">Nombre del servicio</label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Costo servicio" type="text" name="costo" required="required"/>
                                    <label class="form-label" for="costo">Costo del servicio</label>
                                  </div>
                                  <div class="form-floating mb-3"> 
                                    <label for="tipo">Moneda:</label>
                                    <select class="form-select" id="opcionesSelect">
                                      <option value="no"> </option>
                                      <option value="dolar">Dolar</option>
                                      <option value="peso_mex">Peso Mexicano </option>
                                    </select>
                                  </div>
                                  <div class="form-floating mb-3"> 
                                    <label for="tipo">Plan</label>
                                    <select class="form-select" id="opcionesSelect">
                                      <option value="no"> </option>
                                      <option value="mensual">Mensual</option>
                                      <option value="semestral">Semestral </option>
                                      <option value="anual">Anual   </option>
                                    </select>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                                    <label class="form-label" for="descripcion">Descripcion   </label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Total a pagar" type="text" name="total" maxlength="15"/>
                                    <label class="form-label" for="total">Total a pagar</label>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-body__buttons"> 
                                <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                <button class="btn btn-warning" data-bs-target="#modalModServicio" data-bs-toggle="modal" data-bs-dismiss="modal">Modificar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="modalModServicio" aria-hidden="true" aria-labelledby="modalModServicio" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title" id="modalModServicio">Modificar Servicio </h3>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">Servicio modificado!</div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td><a class="edit" href="#modalModificarServicio" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button class="btn btn-exit" onclick="paginaInicio()" id="botonSalir">Salir</button>
    </div>
    <script src="../js/inicio.js"></script>
    <script>
      $(document).ready( function () {
      $('#myTable').DataTable();
      } );
    </script>
{% endblock %}