{% extends 'base_admin.html' %}
{% load static %}
{% block content %}
<div class="ctrlContratos"> 
  <h2 class="title">Control de contratos</h2>
  <button class="btn btn-secondary newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalNvoContrato">Nuevo</button>
  <div class="modal-contrato">
    <div class="modal" id="modalNvoContrato" aria-hidden="true" aria-labelledby="modalNvoContratoLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalNvoContratoLabel">Añadir nuevo <strong>Contrato</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Cliente" type="text" name="cliente" maxlength="80" required="required"/>
                  <label class="form-label" for="cliente">Cliente</label>
                </div>
                <div class="form-floating mb-3"> 
                  <label for="tipo">Servicio:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="aws">AWS</option>
                    <option value="aspel">ASPEL </option>
                    <option value="hosting">HOSTING </option>
                  </select>
                </div>
                <div class="form-floating mb-3"> 
                  <label for="plan">Plan:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="mensual">Mensual</option>
                    <option value="bimestral">Bimestral </option>
                    <option value="anual">Anual </option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Costo" type="text" name="costo" maxlength="20" required="required"/>
                  <label class="form-label" for="costo">Costo</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                  <label class="form-label" for="descripcion">Descripcion  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Fecha de contrato" type="date" name="fecha_contrato" required="required"/>
                  <label class="form-label" for="fecha_contrato">Fecha del contrato  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia de contrato" type="date" name="vigencia_contrato" required="required"/>
                  <label class="form-label" for="vigencia_contrato">Vigencia del contrato  </label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalContrato" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalContrato" aria-hidden="true" aria-labelledby="modalContrato" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalContrato">Nuevo Contrato</h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Contrato creado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalContrato" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-contrato">
    <div class="modal" id="modalModificarContrato" aria-hidden="true" aria-labelledby="modalModificarContratoLabel" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="modalModificarContratoLabel">Detalles del <strong>Contrato</strong></h2>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="content-form">
              <form action="">
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Cliente" type="text" name="cliente" maxlength="80" required="required"/>
                  <label class="form-label" for="cliente">Cliente</label>
                </div>
                <div class="form-floating mb-3"> 
                  <label for="tipo">Servicio:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="aws">AWS</option>
                    <option value="aspel">ASPEL </option>
                    <option value="hosting">HOSTING </option>
                  </select>
                </div>
                <div class="form-floating mb-3"> 
                  <label for="plan">Plan:</label>
                  <select class="form-select" id="opcionesSelect">
                    <option value="no"> </option>
                    <option value="mensual">Mensual</option>
                    <option value="bimestral">Bimestral </option>
                    <option value="anual">Anual </option>
                  </select>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Costo" type="text" name="costo" maxlength="20" required="required"/>
                  <label class="form-label" for="costo">Costo</label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                  <label class="form-label" for="descripcion">Descripcion  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Fecha de contrato" type="date" name="fecha_contrato" required="required"/>
                  <label class="form-label" for="fecha_contrato">Fecha del contrato  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control form-control-lg" placeholder="Vigencia de contrato" type="date" name="vigencia_contrato" required="required"/>
                  <label class="form-label" for="vigencia_contrato">Vigencia del contrato  </label>
                </div>
              </form>
            </div>
            <div class="modal-body__buttons"> 
              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button class="btn btn-success" data-bs-target="#modalEditarCont" data-bs-toggle="modal" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalEditarCont" aria-hidden="true" aria-labelledby="modalEditarCont" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalEditarCont">Editar Contrato</h3>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Contrato modificado!</div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#modalEditarCont" data-bs-toggle="modal" data-bs-dismiss="modal">Cancelar </button>
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content__contratos__tabs">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel" aria-labelledby="usuario-tab" tabindex="0"> 
        <div class="content__contratos__tabs__item__body">
          <div class="table-wrapper content__contratos__tabs__item__body__table">
            <table class="display" id="myTable" cellspacing="0" width="100%">
              <thead> 
                <tr>                 
                  <th>Id</th>
                  <th>Cliente</th>
                  <th>Servicio</th>
                  <th>Vigencia</th>
                  <th>Detalles </th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody> 
                <tr> 
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> 
                    <button class="btn btn-link newBtnElement" type="button" data-bs-toggle="modal" data-bs-target="#modalDetalleContrato">Ver mas ...</button>
                    <div class="modal-contrato">
                      <div class="modal" id="modalDetalleContrato" aria-hidden="true" aria-labelledby="modalDetalleContratoLabel" tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2 class="modal-title" id="modalDetalleContratoLabel">Detalles del <strong>Contrato</strong></h2>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="content-form">
                                <form action="">
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Cliente" type="text" name="cliente" maxlength="80" required="required" readonly="readonly"/>
                                    <label class="form-label" for="cliente">Cliente</label>
                                  </div>
                                  <div class="form-floating mb-3"> 
                                    <label for="tipo">Servicio:</label>
                                    <select class="form-select" id="opcionesSelect">
                                      <option value="no"> </option>
                                      <option value="aws">AWS</option>
                                      <option value="aspel">ASPEL </option>
                                      <option value="hosting">HOSTING </option>
                                    </select>
                                  </div>
                                  <div class="form-floating mb-3"> 
                                    <label for="plan">Plan:</label>
                                    <select class="form-select" id="opcionesSelect">
                                      <option value="no"> </option>
                                      <option value="mensual">Mensual</option>
                                      <option value="bimestral">Bimestral </option>
                                      <option value="anual">Anual </option>
                                    </select>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Costo" type="text" name="costo" maxlength="20" required="required"/>
                                    <label class="form-label" for="costo">Costo</label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Descripcion" type="text" name="descripcion" maxlength="600" required="required"/>
                                    <label class="form-label" for="descripcion">Descripcion  </label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Fecha de contrato" type="date" name="fecha_contrato" required="required"/>
                                    <label class="form-label" for="fecha_contrato">Fecha del contrato  </label>
                                  </div>
                                  <div class="form-floating mb-3">
                                    <input class="form-control form-control-lg" placeholder="Vigencia de contrato" type="date" name="vigencia_contrato" required="required"/>
                                    <label class="form-label" for="vigencia_contrato">Vigencia del contrato  </label>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-body__buttons"> 
                                <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                <button class="btn btn-warning" data-bs-target="#modalContModificar" data-bs-toggle="modal" data-bs-dismiss="modal">Modificar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade" id="modalContModificar" aria-hidden="true" aria-labelledby="modalContModificar" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title" id="modalContModificar">Modificar cliente </h3>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">Contrato modificado!</div>
                            <div class="modal-footer">
                              <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Aceptar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td><a class="edit" href="#modalModificarContrato" data-bs-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a><a class="delete" href="#deleteProductoModal" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;     </i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button class="btn btn-exit" onclick="paginaInicio()" id="salir">Salir</button>
    </div>
  </div>
</div>
<script src="../js/inicio.js"></script>
<script>
  $(document).ready( function () {
  $('#myTable').DataTable();
  } );
</script>
{% endblock %}